doctype html
html
  head
    title="Drafter login"

  body
    form(action="/login", method="post")
      label email
        input(type="text", name="email", autofocus, value="wilbert")

      label password
        input(type="password", name="password", value="wilbert17")

      input(type="submit", value="Login")

    if (valid == false)
      div
        Bad email or password idiot.
