doctype html
html
  head
    title= valid

  body
    form(action="/login", method="post")
      label email
        input(type="text", name="email", autofocus)

      label password
        input(type="password", name="password", value="test")

      input(type="submit", value="Login")

    if (valid == false)
      div
        Bad email or password idiot.
