$app-dark: #21170e;
$app-light: #fff5ea;
$app-middle: #F6C28B;
$app-accent: #5296A5;
$app-accent-light: #82DDF0;

$app-background: #F4F4F4;

html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  background: $app-background;
  font-family: 'Roboto', sans-serif;
  color: $app-dark;
  min-width: 1200px;
  font-size: 1.5rem;
}

.draft-container {
  .top-row {
    display: flex;
    flex: 1;
  }

  .middle-row {
    display: flex;
    flex-direction: row;
    width: 100%;

    .player-searcher {
      flex: 3;
    }

    .right-column, .left-column {
      flex: 1;
    }
  }

  .component-boxes {
    background: white;
    border: #DDDDDD .1rem solid;
    border-radius: .4rem;
    margin: .5rem;
  }

  li {
    color: $app-dark;
  }

  li:hover {
    background: $app-accent-light;
  }

  .player-searcher, .history-list, .roster-list {
    padding: 0;
  }

  button {
    background: $app-middle;
    border: none;
    padding: .4rem 1rem;
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    font-weight: 500;

  }

  button:hover {
    box-shadow: inset 0 0 0 .2rem white;
  }
}
