$dark: #00120B;
$green: #35605A;
$blue: #6B818C;
$white: #D8E4FF;
$highlight: #31E981;

.history-list {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .scroll-list {
    overflow-y: scroll;
    height: 20rem;
  }

  li {
    padding: .3rem;
    color: $green;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: .2rem;

    span {
      padding-right: .5rem;
    }
  }

  li:hover {
    background: $highlight;
    color: $dark;
  }

  .selectedPlayerHighlight {
    background: $blue;
    color: $white;
  }
}
