$dark: #00120B;
$green: #35605A;
$blue: #6B818C;
$white: #D8E4FF;
$highlight: #31E981;

.player-searcher {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .scroll-list {
    overflow-y: scroll;
    height: 60rem;
  }

  li {
    border-radius: .2rem;
    padding: .3rem;
    font-size: 1.4rem;
    cursor: pointer;

    span {
      overflow: hidden;
      white-space: nowrap;
      padding-right: .5rem;
      display: inline-block;
      text-overflow: ellipsis;
    }

    .player-id {
      width: 4rem;
    }

    .rank {
      width: 3.5rem;
    }

    .positions {
      width: 7rem;
    }

    .player-name {
      width: 16rem;

      .mlb-team {
        color: #757575;
        font-size: 1rem;
      }
    }

    .stat {
      margin: 0;
      padding: 0 .8rem;

    }
  }

  .selected-player-highlight {
    border: #D2D2D2 .1rem solid;
    border-radius: .2rem;
    background: #F7F7F7;
    padding: 1.1rem;

    .stat-label {
      font-weight: 400;
    }

    span {
      font-weight: 500;
    }

    .standard-row {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    .player-name {
      width: 13rem;
    }

  }

  .search-filter {
    display: flex;
    background: #EEEEEE;
    padding: .3rem;
    border-bottom: #D7D7D7 .1rem solid;
    vertical-align: middle;

    .player-search-box {
      flex: 1;
    }

    .position-filter {
      flex: 1;
      margin: 0rem 1rem;
    }

    input {
      border-radius: .3rem;
      border: #D7D7D7 .1rem solid;
      padding: 0rem .5rem;
      font-family: 'Roboto', sans-serif;
    }
  }
}
